name: Purge jsDelivr Cache

on:
  workflow_dispatch:

jobs:
  purge_cache:
    runs-on: ubuntu-latest
    steps:
      - name: Purge CDN cache
        run: |
          FILES=(
            "content.md"
            "version.txt"
          )

          # purge + reload
          for FILE in "${FILES[@]}"; do
            curl --silent --show-error --fail "https://purge.jsdelivr.net/gh/TheMoonVyy/pdf2cbt-dev-updates@main/$FILE"
          done
